/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
  
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1, h3 {
  text-align: center;
}
  
.clock-angle,
.alarm-manager {
  margin-bottom: 20px;
  align-items: center;
}
  
.timezone-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  padding: 20px;
}

.display-timezone {
  flex: 1; 
  text-align: center; 
  margin: 0 10px;
}

.display-timezone h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.display-timezone p {
  font-size: 18px;
}

  