body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fff0f6, #ffe0e9);
  color: #333; /* Darker font color for general text */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif'); 
  background-size: cover;
  background-position: center;
}

.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffffd9;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s;
}

.App:hover {
  transform: scale(1.02);
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #d45a77; 
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.8em;
  color: #d18c9f;
  margin-bottom: 15px;
  text-align: center;
}

.clock-angle,
.alarm-manager {
  margin-bottom: 30px;
  padding: 15px;
  background: #f8d9e0; 
  border-radius: 12px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.timezone-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: #f9e2e6;
  border-radius: 12px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.display-timezone {
  flex: 1;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff7f9f, #ffb3c1);
  color: #333; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.display-timezone h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #333; 
  text-transform: uppercase;
  letter-spacing: 1px;
}

.display-timezone p {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #333; 
}

/*block pop-out effect!*/
.display-timezone:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Adding Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
